---
let informacion
let color
try {
	const response = await fetch("https://rickandmortyapi.com/api/character");
	informacion = await response.json();
} catch (error) {
	console.error(error);
}

---

<section class="section_character">
  {
    informacion.results.map((info) => {
      if (info.status === "Alive") {
        color = "green"
      }else{
        color = "red"
      }

      return(
        <div class="contenedor_character">
            <img src={info.image} alt="">
          <div class="info_character">
            <p class="name">{info.name}</p>
            <p>{info.species}</p>
            <p>{info.origin.name}</p>
            <p class="status" style={`background-color:${color}`}>{info.status}</p>
          </div>
          <p class="click_more">Click More</p>
        </div>
        
      )
    })
  }
</section>

<script>

</script>

<style>
  .section_character {
    padding: 30vh 0;
    width: 80%;
    color: var(--letras);
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;    
    gap: 30px;
  }

  .contenedor_character{
    background-color: var(--bg_hr);
    border-radius: 20px;
    position:relative;
    transition: 0.5s ease all;
    font-family: "open sans", sans-serif;

  }

  .contenedor_character img{
    border-radius:20px 20px 0 0;
  }

  .info_character{
    margin:10px;
  }

  .status{
    padding: 10px;
    border-radius: 10px;
    width:fit-content;
    
  }

  .name{
    font-size:20px;
  }

  .click_more {
    padding-top: 1em;
    background: #00AC7C;
    text-align: center;
    height: 2.5em;
    width: 100%;
    transition: all 80ms;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 0 0 10px 10px;
    opacity: 0;
    margin: 0;
}


.contenedor_character:hover .click_more {
  opacity: 1;
}

.contenedor_character:hover {
  cursor: pointer;
  transform: scale(0.9);
}

</style>
