---

interface Props {
  name: string;
  url: string;
  view:boolean;
}
const { name,url,view } = Astro.props;

import ContenedorSections from '../contenedor_sections.astro';

let informacion;
try {
  const response = await fetch(`${url}`);
  informacion = await response.json();
} catch (error) {
  console.error(error);
}
---

<ContenedorSections name={name} show={view}>
  {
    informacion.results.map((info) => {
      return (
      <article class="contenedor_locations" slot="informacion_api">
        <div class="contendor_imagenes">
          <img src="../../../public/Fondo locations.png " alt={info.name} transition:name={`imagen_location_${info.id}`}/>
        </div>

        <div class="info_locations">
          <p class="name">{info.name}</p>
          <p>{info.type}</p>
          <p>{info.dimension}</p>
        </div>
        <a href={`../../Location/Individual/${info.id}`} class="click_more">Click More</a>
      </article>

      );
    })
  }
</ContenedorSections>



<style>
  .contenedor_locations{
    background-color: var(--bg_hr);
    border-radius: 20px;
    width: 500px;
    height: 250px;
    position: relative;
    display: flex;    
    align-items: center;
    justify-content: space-between;
    transition: 0.5s ease all;
    font-family: "open sans", sans-serif;

  }

  .click_more {
    position: absolute;
    background: #00ac7c;
    height: 100%;
    width: 80px;
    transition: all 80ms;
    font-weight: 600;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 0 10px 10px 0;
    opacity: 0;
    right: 0;
    text-decoration: none;
    color: var(--letras);
    transition: 0.5s ease all;



  }

  .contenedor_locations:hover .click_more {
    opacity: 1;
    text-decoration: underline;

  }

  .contenedor_locations:hover {
    cursor: pointer;
    transform: scale(0.9);
  }

  .contendor_imagenes{
    width: 50%;
    height: 100%;
  }

  img{
    width: 100%;
    height: 100%;
    border-radius: 20px 0 0 20px; 
  }

  .info_locations{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 40%;
    margin: 20px;  
  }

  .name {
    font-size: 20px;
    font-weight: 800;
  }

  @media screen and (max-width: 560px) {
    .contenedor_locations{
      flex-direction: column;
      height: fit-content;
    }

    .contendor_imagenes{
      width: fit-content;
      border-radius: 0 10px 10px 0;
    }

    img{
      border-radius: 20px 20px 0 0;
    }

    .info_locations{
      width: 90%;
    }

    .click_more{
    padding: 1em 0;
    color: var(--letras);
    justify-content: center;
    height: 2.5em;
    width: 100%;
    bottom: 0;
    border-radius: 0 0 10px 10px;
    opacity: 0;
    }
  
}

</style>
