---
interface Props {
  url: string;
}

// url: url de la api para hacer las consultas de los episodios de la serie
const { url } = Astro.props;

// contendra en formato json la api y usarlo afuera del servidor dentro del cliente
let informacion; 
try {
  const response = await fetch(`${url}`);
  informacion = await response.json();
} catch (error) {
  console.error(error);
}
---

<article class="contenedor_episodes" slot="informacion_api">
  <div class="contendor_imagenes">
    <img
      src="/Fondo episode.jpg "
      alt={informacion.name}
      transition:name=`imagen_episode_${informacion.id}`
    />
  </div>

  <section class="info_episodes">
    <p class="name">{informacion.name}</p>
    <p>{informacion.air_date}</p>
    <p>{informacion.episode}</p>
  </section>
  <a href=`../../Episode/Individual/${informacion.id}` class="click_more"
    >Click More</a
  >
</article>

<style>
  .contenedor_episodes {
    background-color: var(--bg_hr);
    border-radius: 20px;
    width: 600px;
    height: 250px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.5s ease all;
    font-family: "open sans", sans-serif;
  }

  .click_more {
    position: absolute;
    background: #00ac7c;
    height: 100%;
    width: 80px;
    transition: all 80ms;
    font-weight: 600;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 0 10px 10px 0;
    opacity: 0;
    right: -40px;
    text-decoration: none;
    color: var(--letras);
  }

  .contenedor_episodes:hover .click_more {
    opacity: 1;
    right: 0;
    text-decoration: underline;
  }

  .contenedor_episodes:hover {
    cursor: pointer;
    transform: scale(0.9);
  }

  .contendor_imagenes {
    width: 50%;
    height: 100%;
  }

  img {
    width: 100%;
    height: 100%;
    border-radius: 20px 0 0 20px;
  }

  .info_episodes {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 40%;
  }

  .name {
    font-size: 16px;
    font-weight: 800;
  }

  .info_episodes p {
    width: 90%;
  }

  @media screen and (max-width: 550px) {
    .contenedor_episodes {
      flex-direction: column;
      height: fit-content;
    }

    .contendor_imagenes {
      width: fit-content;
      border-radius: 0 10px 10px 0;
    }

    img {
      border-radius: 20px 20px 0 0;
    }

    .info_episodes {
      width: 90%;
    }

    .click_more {
      padding: 1em 0;
      color: var(--letras);
      justify-content: center;
      height: 2.5em;
      width: 100%;
      bottom: 0;
      border-radius: 0 0 10px 10px;
      opacity: 0;
    }
  }
</style>
