---
import type { GetStaticPaths } from "astro";
import Principal from "../../layout/principal.astro";

export async function getStaticPaths() {
  const data = await fetch("https://rickandmortyapi.com/api/character").then(
    (response) => response.json()
  );
  return data.results.map((post) => {
    return {
      params: { id: post.id },
      props: { post },
    };
  });
}

const { id } = Astro.params;

let informacion;
try {
  const response = await fetch(
    "https://rickandmortyapi.com/api/character/" + id
  );
  informacion = await response.json();
} catch (error) {
  console.error(error);
}

let color;
if (informacion.status === "Alive") {
  color = "green";
} else {
  color = "red";
}
---

<Principal>
  <article class="contenedor_character">
    <div class="informacion_character">
      <picture>
        <img src={informacion.image} alt="" />
      </picture>
      <section class="informacion_principal">
        <p class="status" style={`background-color:${color}`}>
          {informacion.status}
        </p>
        <p class="text">Name: <span>{informacion.name}</span></p>
        <p class="text">status: <span>{informacion.status}</span></p>
        <p class="text">Species: <span>{informacion.species}</span></p>
        <p class="text">Gender: <span>{informacion.gender}</span></p>
        <p class="text">Location: <span>{informacion.location.name}</span></p>
        <p class="text">Origin: <span>{informacion.origin.name}</span></p>
        <p class="text">
          API Character: <a href={informacion.url}>Link API</a>
        </p>
      </section>
    </div>
    <div class="participaciones">
      <!-- Agregar las apariciones de cada personaje en este div -->
    </div>
  </article>
</Principal>

<style>
  article {
    padding: 30vh 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .informacion_character {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    padding: 0;
    background-color: var(--bg_hr);
    border-radius: 30px;
  }

  .informacion_principal {
    width: 40%;
  }

  picture {
    width: 360px;
    height: 360px;
  }

  img {
    width: 100%;
    height: 100%;
    border-radius: 20px 0 0 20px;
  }

  .text {
    color: var(--letras);
    width: 90%;
  }

  .status {
    padding: 10px;
    border-radius: 10px;
    width: fit-content;
    font-weight: 700;
    color: var(--letras);
  }

  a {
    color: var(--vrd_clr);
  }
</style>
